.contact {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    justify-content: center;
    background-color: white;
    margin-left: 4rem;
}

.reach-out {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #22465e;
}

.socials {
    display: inline;
}

.icons {
    max-width: 10vw;
    max-height: 10vh;
    width: auto;
    height: auto;
    display: inline;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 2rem;
}

.rightSide {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 40%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.me2 {
    width: 35%;
    height: auto;
    display: flex;
    position: absolute;
}