.HomePage {
    background-color: white;
    margin-right: 10;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .topBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 100;
    background-color: #132d3e;
}

.AVP {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    left: 0;
    width: 50%;
    height: 100%;
}

h2.initial {
    margin: auto 0 0 ;
    padding: 10px;
    margin-left: 2vw;
}

.initial {
    color: white;
    font-family: 'Krona One', sans-serif;
    font-size: 2.4rem;
} 

.initial:hover {
    transform: scale(1.3);
    transition-duration: 0.4s;
}

.NavBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    right: 0;
    width: 50%;
    height: 100%;
  }

.NavBar li {
    display: inline-block;
    padding: 10px;
    color: white;
    margin-right: 2vw;
    
    font-size: 1.5rem;
}

.NavBar li:hover {
    transform: scale(1.5);
    transition-duration: 0.25s;
} */

.infopage {
    text-align: center;
    line-height: 2.5rem;
    display: flex;
}


.left-side h1 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 5rem;
    flex-wrap: wrap;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 100vh;
    margin: 3rem 0 0 6rem;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1rem;
    color: black;
    align-content: center;
    overflow: auto;
}

.info {
    overflow: auto;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.me1 {
    max-width: 35vw;
    max-height: 82vh;
    width: auto;
    height: auto;

    vertical-align: middle;
    margin: auto;
    margin-top: 14vh;
}